@font-face {
  font-family: 'GT Walsheim Pro';
  src: url('font/GTWalsheimPro-Light.eot');
  src: local('GT Walsheim Pro Light'), local('GTWalsheimPro-Light'),
      url('font/GTWalsheimPro-Light.eot?#iefix') format('embedded-opentype'),
      url('font/GTWalsheimPro-Light.woff2') format('woff2'),
      url('font/GTWalsheimPro-Light.woff') format('woff'),
      url('font/GTWalsheimPro-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'GT Walsheim Pro';
  src: url('font/GTWalsheimPro-Regular.eot');
  src: local('GT Walsheim Pro Regular'), local('GTWalsheimPro-Regular'),
      url('font/GTWalsheimPro-Regular.eot?#iefix') format('embedded-opentype'),
      url('font/GTWalsheimPro-Regular.woff2') format('woff2'),
      url('font/GTWalsheimPro-Regular.woff') format('woff'),
      url('font/GTWalsheimPro-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GT Walsheim Pro';
  src: url('font/GTWalsheimPro-ThinOblique.eot');
  src: local('GT Walsheim Pro Thin Oblique'), local('GTWalsheimPro-ThinOblique'),
      url('font/GTWalsheimPro-ThinOblique.eot?#iefix') format('embedded-opentype'),
      url('font/GTWalsheimPro-ThinOblique.woff2') format('woff2'),
      url('font/GTWalsheimPro-ThinOblique.woff') format('woff'),
      url('font/GTWalsheimPro-ThinOblique.ttf') format('truetype');
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: 'GT Walsheim Pro';
  src: url('font/GTWalsheimPro-Thin.eot');
  src: local('GT Walsheim Pro Thin'), local('GTWalsheimPro-Thin'),
      url('font/GTWalsheimPro-Thin.eot?#iefix') format('embedded-opentype'),
      url('font/GTWalsheimPro-Thin.woff2') format('woff2'),
      url('font/GTWalsheimPro-Thin.woff') format('woff'),
      url('font/GTWalsheimPro-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'GT Walsheim Pro';
  src: url('font/GTWalsheimPro-BoldOblique.eot');
  src: local('GT Walsheim Pro Bold Oblique'), local('GTWalsheimPro-BoldOblique'),
      url('font/GTWalsheimPro-BoldOblique.eot?#iefix') format('embedded-opentype'),
      url('font/GTWalsheimPro-BoldOblique.woff2') format('woff2'),
      url('font/GTWalsheimPro-BoldOblique.woff') format('woff'),
      url('font/GTWalsheimPro-BoldOblique.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'GT Walsheim Pro Ultra';
  src: url('font/GTWalsheimPro-UltraBold.eot');
  src: local('GT Walsheim Pro Ultra Bold'), local('GTWalsheimPro-UltraBold'),
      url('font/GTWalsheimPro-UltraBold.eot?#iefix') format('embedded-opentype'),
      url('font/GTWalsheimPro-UltraBold.woff2') format('woff2'),
      url('font/GTWalsheimPro-UltraBold.woff') format('woff'),
      url('font/GTWalsheimPro-UltraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'GT Walsheim Pro Ultra';
  src: url('font/GTWalsheimPro-UltraBoldOblique.eot');
  src: local('GT Walsheim Pro Ultra Bold Oblique'), local('GTWalsheimPro-UltraBoldOblique'),
      url('font/GTWalsheimPro-UltraBoldOblique.eot?#iefix') format('embedded-opentype'),
      url('font/GTWalsheimPro-UltraBoldOblique.woff2') format('woff2'),
      url('font/GTWalsheimPro-UltraBoldOblique.woff') format('woff'),
      url('font/GTWalsheimPro-UltraBoldOblique.ttf') format('truetype');
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: 'GT Walsheim Pro';
  src: url('font/GTWalsheimPro-MediumOblique.eot');
  src: local('GT Walsheim Pro Medium Oblique'), local('GTWalsheimPro-MediumOblique'),
      url('font/GTWalsheimPro-MediumOblique.eot?#iefix') format('embedded-opentype'),
      url('font/GTWalsheimPro-MediumOblique.woff2') format('woff2'),
      url('font/GTWalsheimPro-MediumOblique.woff') format('woff'),
      url('font/GTWalsheimPro-MediumOblique.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'GT Walsheim Pro';
  src: url('font/GTWalsheimPro-Bold.eot');
  src: local('GT Walsheim Pro Bold'), local('GTWalsheimPro-Bold'),
      url('font/GTWalsheimPro-Bold.eot?#iefix') format('embedded-opentype'),
      url('font/GTWalsheimPro-Bold.woff2') format('woff2'),
      url('font/GTWalsheimPro-Bold.woff') format('woff'),
      url('font/GTWalsheimPro-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'GT Walsheim Pro';
  src: url('font/GTWalsheimPro-Medium.eot');
  src: local('GT Walsheim Pro Medium'), local('GTWalsheimPro-Medium'),
      url('font/GTWalsheimPro-Medium.eot?#iefix') format('embedded-opentype'),
      url('font/GTWalsheimPro-Medium.woff2') format('woff2'),
      url('font/GTWalsheimPro-Medium.woff') format('woff'),
      url('font/GTWalsheimPro-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'GT Walsheim Pro';
  src: url('font/GTWalsheimPro-RegularOblique.eot');
  src: local('GT Walsheim Pro Regular Oblique'), local('GTWalsheimPro-RegularOblique'),
      url('font/GTWalsheimPro-RegularOblique.eot?#iefix') format('embedded-opentype'),
      url('font/GTWalsheimPro-RegularOblique.woff2') format('woff2'),
      url('font/GTWalsheimPro-RegularOblique.woff') format('woff'),
      url('font/GTWalsheimPro-RegularOblique.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'GT Walsheim Pro';
  src: url('font/GTWalsheimPro-LightOblique.eot');
  src: local('GT Walsheim Pro Light Oblique'), local('GTWalsheimPro-LightOblique'),
      url('font/GTWalsheimPro-LightOblique.eot?#iefix') format('embedded-opentype'),
      url('font/GTWalsheimPro-LightOblique.woff2') format('woff2'),
      url('font/GTWalsheimPro-LightOblique.woff') format('woff'),
      url('font/GTWalsheimPro-LightOblique.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'GT Walsheim Pro Ultra';
  src: url('font/GTWalsheimPro-UltraLight.eot');
  src: local('GT Walsheim Pro Ultra Light'), local('GTWalsheimPro-UltraLight'),
      url('font/GTWalsheimPro-UltraLight.eot?#iefix') format('embedded-opentype'),
      url('font/GTWalsheimPro-UltraLight.woff2') format('woff2'),
      url('font/GTWalsheimPro-UltraLight.woff') format('woff'),
      url('font/GTWalsheimPro-UltraLight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'GT Walsheim Pro Ultra';
  src: url('font/GTWalsheimPro-UltraLightOblique.eot');
  src: local('GT Walsheim Pro Ultra Light Oblique'), local('GTWalsheimPro-UltraLightOblique'),
      url('font/GTWalsheimPro-UltraLightOblique.eot?#iefix') format('embedded-opentype'),
      url('font/GTWalsheimPro-UltraLightOblique.woff2') format('woff2'),
      url('font/GTWalsheimPro-UltraLightOblique.woff') format('woff'),
      url('font/GTWalsheimPro-UltraLightOblique.ttf') format('truetype');
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: 'GT Walsheim Pro';
  src: url('font/GTWalsheimPro-BlackOblique.eot');
  src: local('GT Walsheim Pro Black Oblique'), local('GTWalsheimPro-BlackOblique'),
      url('font/GTWalsheimPro-BlackOblique.eot?#iefix') format('embedded-opentype'),
      url('font/GTWalsheimPro-BlackOblique.woff2') format('woff2'),
      url('font/GTWalsheimPro-BlackOblique.woff') format('woff'),
      url('font/GTWalsheimPro-BlackOblique.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'GT Walsheim Pro';
  src: url('font/GTWalsheimPro-Black.eot');
  src: local('GT Walsheim Pro Black'), local('GTWalsheimPro-Black'),
      url('font/GTWalsheimPro-Black.eot?#iefix') format('embedded-opentype'),
      url('font/GTWalsheimPro-Black.woff2') format('woff2'),
      url('font/GTWalsheimPro-Black.woff') format('woff'),
      url('font/GTWalsheimPro-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'GT Walsheim Pro Cond Ultra';
  src: url('font/GTWalsheimPro-CondensedUltraBold.eot');
  src: local('GT Walsheim Pro Condensed Ultra Bold'), local('GTWalsheimPro-CondensedUltraBold'),
      url('font/GTWalsheimPro-CondensedUltraBold.eot?#iefix') format('embedded-opentype'),
      url('font/GTWalsheimPro-CondensedUltraBold.woff2') format('woff2'),
      url('font/GTWalsheimPro-CondensedUltraBold.woff') format('woff'),
      url('font/GTWalsheimPro-CondensedUltraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'GT Walsheim Pro Condensed';
  src: url('font/GTWalsheimPro-CondensedLight.eot');
  src: local('GT Walsheim Pro Condensed Light'), local('GTWalsheimPro-CondensedLight'),
      url('font/GTWalsheimPro-CondensedLight.eot?#iefix') format('embedded-opentype'),
      url('font/GTWalsheimPro-CondensedLight.woff2') format('woff2'),
      url('font/GTWalsheimPro-CondensedLight.woff') format('woff'),
      url('font/GTWalsheimPro-CondensedLight.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'GT Walsheim Pro Condensed';
  src: url('font/GTWalsheimPro-CondensedBoldOblique.eot');
  src: local('GT Walsheim Pro Condensed Bold Oblique'), local('GTWalsheimPro-CondensedBoldOblique'),
      url('font/GTWalsheimPro-CondensedBoldOblique.eot?#iefix') format('embedded-opentype'),
      url('font/GTWalsheimPro-CondensedBoldOblique.woff2') format('woff2'),
      url('font/GTWalsheimPro-CondensedBoldOblique.woff') format('woff'),
      url('font/GTWalsheimPro-CondensedBoldOblique.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'GT Walsheim Pro Condensed';
  src: url('font/GTWalsheimPro-CondensedLightOblique.eot');
  src: local('GT Walsheim Pro Condensed Light Oblique'), local('GTWalsheimPro-CondensedLightOblique'),
      url('font/GTWalsheimPro-CondensedLightOblique.eot?#iefix') format('embedded-opentype'),
      url('font/GTWalsheimPro-CondensedLightOblique.woff2') format('woff2'),
      url('font/GTWalsheimPro-CondensedLightOblique.woff') format('woff'),
      url('font/GTWalsheimPro-CondensedLightOblique.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'GT Walsheim Pro Condensed';
  src: url('font/GTWalsheimPro-CondensedThin.eot');
  src: local('GT Walsheim Pro Condensed Thin'), local('GTWalsheimPro-CondensedThin'),
      url('font/GTWalsheimPro-CondensedThin.eot?#iefix') format('embedded-opentype'),
      url('font/GTWalsheimPro-CondensedThin.woff2') format('woff2'),
      url('font/GTWalsheimPro-CondensedThin.woff') format('woff'),
      url('font/GTWalsheimPro-CondensedThin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'GTWalsheimPro-CondensedULightIt';
  src: url('font/GTWalsheimPro-CondensedUltraLightOblique.eot');
  src: local('GT Walsheim Pro Condensed Ultra Light Oblique'), local('GTWalsheimPro-CondensedUltraLightOblique'),
      url('font/GTWalsheimPro-CondensedUltraLightOblique.eot?#iefix') format('embedded-opentype'),
      url('font/GTWalsheimPro-CondensedUltraLightOblique.woff2') format('woff2'),
      url('font/GTWalsheimPro-CondensedUltraLightOblique.woff') format('woff'),
      url('font/GTWalsheimPro-CondensedUltraLightOblique.ttf') format('truetype');
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: 'GT Walsheim Pro Cond';
  src: url('font/GTWalsheimPro-CondensedMedium.eot');
  src: local('GT Walsheim Pro Condensed Medium'), local('GTWalsheimPro-CondensedMedium'),
      url('font/GTWalsheimPro-CondensedMedium.eot?#iefix') format('embedded-opentype'),
      url('font/GTWalsheimPro-CondensedMedium.woff2') format('woff2'),
      url('font/GTWalsheimPro-CondensedMedium.woff') format('woff'),
      url('font/GTWalsheimPro-CondensedMedium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'GT Walsheim Pro Condensed';
  src: url('font/GTWalsheimPro-CondensedBlackOblique.eot');
  src: local('GT Walsheim Pro Condensed Black Oblique'), local('GTWalsheimPro-CondensedBlackOblique'),
      url('font/GTWalsheimPro-CondensedBlackOblique.eot?#iefix') format('embedded-opentype'),
      url('font/GTWalsheimPro-CondensedBlackOblique.woff2') format('woff2'),
      url('font/GTWalsheimPro-CondensedBlackOblique.woff') format('woff'),
      url('font/GTWalsheimPro-CondensedBlackOblique.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'GT Walsheim Pro Condensed';
  src: url('font/GTWalsheimPro-CondensedRegular.eot');
  src: local('GT Walsheim Pro Condensed Regular'), local('GTWalsheimPro-CondensedRegular'),
      url('font/GTWalsheimPro-CondensedRegular.eot?#iefix') format('embedded-opentype'),
      url('font/GTWalsheimPro-CondensedRegular.woff2') format('woff2'),
      url('font/GTWalsheimPro-CondensedRegular.woff') format('woff'),
      url('font/GTWalsheimPro-CondensedRegular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GT Walsheim Pro Condensed';
  src: url('font/GTWalsheimPro-CondensedThinOblique.eot');
  src: local('GT Walsheim Pro Condensed Thin Oblique'), local('GTWalsheimPro-CondensedThinOblique'),
      url('font/GTWalsheimPro-CondensedThinOblique.eot?#iefix') format('embedded-opentype'),
      url('font/GTWalsheimPro-CondensedThinOblique.woff2') format('woff2'),
      url('font/GTWalsheimPro-CondensedThinOblique.woff') format('woff'),
      url('font/GTWalsheimPro-CondensedThinOblique.ttf') format('truetype');
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: 'GT Walsheim Pro Condensed';
  src: url('font/GTWalsheimPro-CondensedBold.eot');
  src: local('GT Walsheim Pro Condensed Bold'), local('GTWalsheimPro-CondensedBold'),
      url('font/GTWalsheimPro-CondensedBold.eot?#iefix') format('embedded-opentype'),
      url('font/GTWalsheimPro-CondensedBold.woff2') format('woff2'),
      url('font/GTWalsheimPro-CondensedBold.woff') format('woff'),
      url('font/GTWalsheimPro-CondensedBold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'GT Walsheim Pro Condensed';
  src: url('font/GTWalsheimPro-CondensedRegularOblique.eot');
  src: local('GT Walsheim Pro Condensed Regular Oblique'), local('GTWalsheimPro-CondensedRegularOblique'),
      url('font/GTWalsheimPro-CondensedRegularOblique.eot?#iefix') format('embedded-opentype'),
      url('font/GTWalsheimPro-CondensedRegularOblique.woff2') format('woff2'),
      url('font/GTWalsheimPro-CondensedRegularOblique.woff') format('woff'),
      url('font/GTWalsheimPro-CondensedRegularOblique.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'GTWalsheimPro-CondensedULight';
  src: url('font/GTWalsheimPro-CondensedUltraLight.eot');
  src: local('GT Walsheim Pro Condensed Ultra Light'), local('GTWalsheimPro-CondensedUltraLight'),
      url('font/GTWalsheimPro-CondensedUltraLight.eot?#iefix') format('embedded-opentype'),
      url('font/GTWalsheimPro-CondensedUltraLight.woff2') format('woff2'),
      url('font/GTWalsheimPro-CondensedUltraLight.woff') format('woff'),
      url('font/GTWalsheimPro-CondensedUltraLight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'GT Walsheim Pro Cond Ultra';
  src: url('font/GTWalsheimPro-CondensedUltraBoldOblique.eot');
  src: local('GT Walsheim Pro Condensed Ultra Bold Oblique'), local('GTWalsheimPro-CondensedUltraBoldOblique'),
      url('font/GTWalsheimPro-CondensedUltraBoldOblique.eot?#iefix') format('embedded-opentype'),
      url('font/GTWalsheimPro-CondensedUltraBoldOblique.woff2') format('woff2'),
      url('font/GTWalsheimPro-CondensedUltraBoldOblique.woff') format('woff'),
      url('font/GTWalsheimPro-CondensedUltraBoldOblique.ttf') format('truetype');
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: 'GT Walsheim Pro Cond';
  src: url('font/GTWalsheimPro-CondensedMediumOblique.eot');
  src: local('GT Walsheim Pro Condensed Medium Oblique'), local('GTWalsheimPro-CondensedMediumOblique'),
      url('font/GTWalsheimPro-CondensedMediumOblique.eot?#iefix') format('embedded-opentype'),
      url('font/GTWalsheimPro-CondensedMediumOblique.woff2') format('woff2'),
      url('font/GTWalsheimPro-CondensedMediumOblique.woff') format('woff'),
      url('font/GTWalsheimPro-CondensedMediumOblique.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'GT Walsheim Pro Condensed';
  src: url('font/GTWalsheimPro-CondensedBlack.eot');
  src: local('GT Walsheim Pro Condensed Black'), local('GTWalsheimPro-CondensedBlack'),
      url('font/GTWalsheimPro-CondensedBlack.eot?#iefix') format('embedded-opentype'),
      url('font/GTWalsheimPro-CondensedBlack.woff2') format('woff2'),
      url('font/GTWalsheimPro-CondensedBlack.woff') format('woff'),
      url('font/GTWalsheimPro-CondensedBlack.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}









html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

input {
  outline: none;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.ul {
  list-style: disc;
  padding-left: 28px;
}
button {
  border: none;
}
svg {
  flex-shrink: 0;
}
a {
  text-decoration: none;
}
body {
  font-family: "GT Walsheim Pro";
  font-style: normal;
  font-size: 16px;
  background: #F9F3EE;
}






.ff1 {font-family: "Pacifico";}
.ff2 {font-family: "GT Walsheim Pro Condensed";}
.color-secondary {color: #E5FF63;}
.color-rock {color: #503838;}
.color-dusty-grey {color: #AC9393;}
.color-primary-dark {color: #232020;}

.bg-pich {
  background-color: #FBA759;
}
.bg-bege {
  background-color: #FCD6AA;
}
.bg-light {
  background-color: #F9F3EE;
}







.container {
  width: 100%;
  padding-left: 24px;
  padding-right: 24px;
  margin-left: auto;
  margin-right: auto;
  max-width: 468px;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 688px;
  }
}
@media screen and (min-width: 1024px) {
  .container {
    max-width: 944px;
  }
}
@media screen and (min-width: 1440px) {
  .container {
    max-width: 1118px;
  }
}

@media screen and (min-width: 1800px) {

  .container {
    max-width: 1408px;
  }
}








.btn {
  display: inline-block;
  padding: 24px;
  border: 0;
  border-radius: 42px;
  background-color: #E4E4E4;
  color: #000;
  font-size: 18px;
  font-weight: 600;
  white-space: nowrap;
  flex-shrink: 0;
  text-transform: uppercase;
  transition: .3s ease-in-out;
  text-align: center;
  font-family: inherit;
  cursor: pointer;
  letter-spacing: .15em;
}


.btn-gradient {
  background: linear-gradient(270deg, #EFFF9D 0%, #E5FF63 100%);
}

.btn-gradient:hover {
  background: linear-gradient(270deg, #EDFFB9 0%, #B4F300 100%);
}
.btn-gradient:active {
  color: #FFF;
  background-color: #232020;
}


.btn-gray {
  color: #BDBCBC;
}
.btn-gray:hover {
  color: #232020;
}
.btn-gray:active {
  color: #E4E4E4;
  background-color: #232020;
}



.btn-block {
  width: 100%;
  display: block;
}














/* ====================================================================================== HEADER
 */

.header {
  position: sticky;
  top: 0;
  z-index: 500;
  width: 100%;
  height: 48px;
  background: #FFF;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  text-align: center;
}

.header-logo {
  width: 157px;
  height: 48px;
  margin-right: 28px;
}

.header-nav {
  display: flex;
  width: 100%;
}

.nav-item {
  display: inline-block;
  height: 48px;
  font-size: 16px;
  line-height: 24px;
  padding: 12px;
  color: #000;
  letter-spacing: .08em;
  transition: .2s;
}
.nav-item:active {
  background-color: #E5FF63;
}
.locale-select {
  display: flex;
  margin: 0 auto;
}





@media screen and (max-width: 767.999px) {
  .header-nav {
    position: absolute;
    overflow: hidden;
    top: -200px;
    left: 0;
    z-index: 500;
    
    transition: 0.2s;
    transition-delay: 0.1s;
    will-change: transform;

    flex-direction: column;
    background-color: #fff;
  }
  .header-nav-open {
    transition-duration: 0.3s;
    transform: translateY(248px);
  }
  
  .nav-item {
    will-change: opacity, transform;
    transition: 0.3s;
    transition-delay: 0.2s;
    opacity: 0;
    transform: translateX(20px);
  }
  
  .header-nav-open .nav-item:nth-child(2) {
    transition-delay: 0.4s;
  }
  .header-nav-open .nav-item:nth-child(3) {
    transition-delay: 0.5s;
  }
  .header-nav-open .locale-select .nav-item:nth-child(1) {
    transition-delay: 0.7s;
  }
  .header-nav-open .locale-select .nav-item:nth-child(2) {
    transition-delay: 0.9s;
  }
  .header-nav-open .nav-item {
    transform: translateX(0);
    opacity: 1;
  }



  .burger-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    width: 48px;
    height: 48px;
    padding: 15px;
    font-size: 1px;
    cursor: pointer;
    background: #FFF;
    color: #000;
    transition: background .3s ease-in;
  }

  .burger {
    position: relative;
    width: 18px;
    height: 4px;
    background-color: currentColor;
    transition: 0.5s ease;
  }
  .close.burger-btn {
    background: #E5FF63;
  }
  .burger-btn:hover {
    background: #B4F300;
  }
  .close.burger-btn .burger {
    background-color: transparent;
  }
  .burger::after,
  .burger::before {
    content: "";
    width: 18px;
    height: 4px;
    background-color: currentColor;
    position: absolute;
    left: 0;
    right: 0;
    will-change: transform;
    transition: transform 0.3s ease-in;
  }
  .burger::before {
    bottom: 7px;
  }
  .burger::after {
    top: 7px;
  }
  .close.burger-btn .burger::after {
    transform: translateY(-7px) rotate(45deg);
  }
  .close.burger-btn .burger::before {
    transform: translateY(7px) rotate(135deg);
  }
  
}

@media screen and (min-width: 768px) {
  .burger-btn {
    display: none;
  }
  .locale-select {
    margin-right: 0;
  }
  .nav-item:hover {
    background-color: #B4F300;
  }
}


/* ====================================================================================== HEADER
 */











/* ====================================================================================== section 1
 */
.hero-section {
  position: relative;
  color: #FFF;
  height: 934px;
  padding-top: 220px;
  background-position: center;
  background-size: cover;
  background-color: #00817C;
  background-image: url(hero-section-bg.jpg);
}
@media screen and (min-width: 1600px) {
  .hero-section::after {
    pointer-events: none;
    content: '';
    display: block;
    width: 448px;
    height: 628px;
    background-position: left;
    background-size: contain;
    background-image: url(hero-leafs.png);
    z-index: 3;
    position: absolute;
    top: 80px;
    right: -120px;
  }
}



.hero-inner {
  position: relative;
  z-index: 1;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.hero-bottom {
  position: absolute;
  bottom: 55px;
  left: 0;
  right: 0;
}


.hero-ribbon-rec {
  width: 100%;
  filter: drop-shadow(1.819px 3.032px 8.489px rgba(0, 0, 0, 0.32)) drop-shadow(7.882px 10.308px 11.156px rgba(0, 0, 0, 0.15)) drop-shadow(50.325px 81.854px 26.678px rgba(0, 0, 0, 0.01));
}
.hero-ribbon-text {
  position: absolute;
  z-index: 1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  padding: .25em 1em;
  color: #FFF;
  transform: rotate(-1.83deg);
  font-family: "GT Walsheim Pro Condensed";
  font-style: italic;
  font-weight: 900;
}

.hero-text-shadow {
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.hero-btn {
  width: 320px;
  padding: 20px;
  letter-spacing: .15em;
  font-size: 17px;
  font-weight: 700;
  border: 1.4px solid #FFF;
  background: #BDFF00;
  box-shadow: 0px 11px 9px 0px rgba(0, 0, 0, 0.25);
}
.hero-flower {
  position: absolute;
  left: 4px;
  bottom: 10px;
}
@media screen and (min-width: 768px) {
  .hero-section {
    background-image: url(hero-section-bg-768.jpg);
  }
  .hero-flower {
    left: -10px;
  }
}

@media screen and (min-width: 1024px) {
  .hero-section {
    background-image: url(hero-section-bg-1024.jpg);
  }
}

@media screen and (min-width: 1440px) {
  .hero-section {
    background-image: url(hero-section-bg-1440.jpg);
  }
  .hero-flower {
    left: -110px;
  }
}

@media screen and (min-width: 1600px) {
  .hero-inner {
    margin-left: 0;
  }
}

/* ====================================================================================== section 1
 */

























/* ====================================================================================== section 2
 */


.villa-section {
  color: #FFF;
  height: 900px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-position: center;
  background-size: cover;
  background-color: #000;
  /* background-image: url(villa-section-bg.jpg); */
  overflow: hidden;
}

.video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: .5;
}

@media screen and (min-width: 768px) {
  .villa-section::after {
    pointer-events: none;
    content: '';
    display: block;
    width: 312px;
    height: 505px;
    background-position: left;
    background-size: contain;
    background-image: url(practice-leafs-2.png);
    z-index: 3;
    position: absolute;
    top: 42px;
    right: -160px;
  }  
}



/* ====================================================================================== section 2
 */







/* ====================================================================================== section 3
 */
.want-section {
  overflow: hidden;
  position: relative;
  box-shadow: 0px -20px 20px 20px #F9F3EE;
}

.want-section::before {
  pointer-events: none;
  content: '';
  display: block;
  width: 190px;
  height: 270px;
  background-position: right;
  background-size: contain;
  background-image: url(practice-leafs-1.png);
  position: absolute;
  bottom: 100px;
  left: -70px;
  opacity: 0.2;
}


.want-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}


.want-item {
  height: 190px;
  width: 100%;
  position: relative;
}


.want-msg {
  position: absolute;
  transition: transform 1s ease-out;
}
.want-msg__name {
  color: #7E2B2B;
  font-size: 16px;
  margin-bottom: 8px;
}
.want-msg__cloud {
  border-radius: 100px;
  color: #F2F1F1;
  font-size: 18px;
  padding: 16px 20px;
  box-shadow: -3px 12px 17px 0px rgba(0, 0, 0, 0.25);
}






.wi1 .want-msg {
  left: 32px;
  top: 18px;
  max-width: 340px;
  transform: rotate(1.52deg);
}
.wi1 .want-msg__cloud {
  background-color: #466899;
}

.wi2 .want-msg__cloud {
  background-color: #F4803F;
}
.wi2 .want-msg {
  left: 14px;
  top: 8px;
  max-width: 300px;
}

.wi3 .want-msg {
  left: 30px;
  top: 40px;
  max-width: 310px;
  transform: rotate(-1.45deg);
}
.wi3 .want-msg__cloud {
  background-color: #28A65A;
}

.wi4 .want-msg__cloud {
  background-color: #D34E4E;
}
.wi4 .want-msg {
  left: 15px;
  top: 25px;
  max-width: 260px;
}

.wi5 .want-msg__cloud {
  background-color: #466899;
}
.wi5 .want-msg {
  left: 22px;
  top: 25px;
  max-width: 340px;
  transform: rotate(-2.45deg);
}

.wi6 .want-msg__cloud {
  background-color: #4264DC;
}
.wi6 .want-msg {
  left: 18px;
  top: 6px;
  max-width: 360px;
  transform: rotate(3.32deg)
}


.wi2-bubble, .wi4-bubble {
  position: absolute;
  display: inline-block;
  border-radius: 40px;
  font-size: 18px;
  padding: 20px;
  white-space: nowrap;
  transform-origin: center;
  transition: transform 1.5s ease-in-out;
}
.wi2-bubble {
  color: #A37373;
  background: #EDD18F;
}
.wi2-bubble:nth-child(1) {
  top: -8px;
  left: 170px;
  transform: rotate(-5.4deg);
}
.wi2-bubble:nth-child(2) {
  transform: rotate(27deg);
  bottom: 0;
  left: 110px;
}
.wi2-bubble:nth-child(3) {
  left: 170px;
  bottom: 34px;
  transform: rotate(5.4deg);
}



.wi4-bubble {
  color: #FFF;
  background-color: #D1A791;
}

.wi4-bubble:nth-child(1) {
  top: -15px;
  left: 178px;
  transform: rotate(-8deg);
}
.wi4-bubble:nth-child(2) {
  left: 255px;
  top: 60px;
  transform: rotate(5.1deg);
}
.wi4-bubble:nth-child(3) {
  transform: rotate(12deg);
  bottom: 0;
  left: 220px;
}




.want-item:hover .want-msg{
  transform: rotate(0deg);
}
.wi2-bubble:hover,
.wi4-bubble:hover {
  transform: rotate(0deg);
}



.want-item {transition: .6s ease-out .2s;opacity: 0;}
.wi1, .wi2, .wi3 {transform: translateX(-100%);}
.wi4, .wi5, .wi6 {transform: translateX(100%);}
@media screen and (min-width: 768px) {
  .wi4 {transition-delay: .4s;}
  .wi2 {transition-delay: .6s;}
  .wi5 {transition-delay: 1s;}
  .wi3 {transition-delay: 1.3s;}
  .wi6 {transition-delay: 1.6s;}
}
@media screen and (max-width: 767.999px) {
  .wi2 {transition-delay: .4s;}
  .wi3 {transition-delay: .6s;}
  .wi4 {transition-delay: 1s;}
  .wi5 {transition-delay: 1.3s;}
  .wi6 {transition-delay: 1.6s;}
}


.in-viewport .want-item {
  transform: translateX(0);
  opacity: 1;
}

@media screen and (min-width: 768px) {

  .want-msg__name {
    font-size: 20px;
  }
  
  .want-section::after {
    pointer-events: none;
    content: '';
    display: block;
    width: 312px;
    height: 505px;
    background-position: left;
    background-size: contain;
    background-image: url(practice-leafs-2.png);
    z-index: 3;
    position: absolute;
    bottom: 100px;
    right: -60px;
    opacity: .2;
  }  
}
@media screen and (min-width: 1440px) {

  .want-section::before {
    width: 360px;
    height: 550px;
  }



  .want-item {
    height: 272px;
  }
  .want-msg__cloud {
    padding: 24px 30px;
  }


  .wi1 .want-msg {
    left: 53px;
    top: 65px;
    max-width: 390px;
  }
  .wi2 .want-msg {
    left: -20px;
    top: 27px;
    max-width: 440px;
  }
  .wi2-bubble:nth-child(2) {
    transform: rotate(-4.7deg);
    bottom: 30px;
    left: 11px;
  }
  .wi2-bubble:nth-child(3) {
    left: 256px;
    bottom: 50px;
  }


  .wi4 .want-msg {
    left: 18px;
    top: 60px;
    max-width: 346px;
  }
  .wi4-bubble:nth-child(1) {
    top: 15px;
    left: 235px;
  }
  .wi4-bubble:nth-child(2) {
    left: 345px;
    top: 110px;
  }
  .wi4-bubble:nth-child(3) {
    transform: rotate(12deg);
    bottom: -5px;
    left: 294px;
  }







  .wi5 .want-msg {
    left: 12px;
    top: 70px;
    max-width: 460px;
  }
  .wi6 .want-msg {
    left: 32px;
    top: 40px;
    max-width: 455px;
  }




  .wi2-bubble,
  .wi4-bubble,
  .want-msg__cloud,
  .want-msg__name {
    font-size: 24px;
  }
}


/* ====================================================================================== section 3
 */







.section-hara {
  overflow: hidden;
  color: #FFF;
  background-color: #00817C;
  background-image: url(hara-bg.jpg);
  height: 526px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.section-hara__inner {
  filter: drop-shadow(0px 6px 4px rgba(0, 0, 0, 0.25));
}




.authors-section {
  position: relative;;
  overflow: hidden;
}
.author-photo {
  width: 120px;
  height: 172px;
  border-radius: 28px;
  background-color: #fff;
  background-position: top;
  background-size: cover;
}
.author-name {
  display: block;
  margin-bottom: 22px;
  height: 134px;
  filter: drop-shadow(10px 13px 0px rgba(0, 0, 0, 0.25));
}

@media screen and (min-width: 768px) {
}

@media screen and (min-width: 768px) {
  .authors-section::after {
    pointer-events: none;
    content: '';
    display: block;
    width: 312px;
    height: 505px;
    background-position: left;
    background-size: contain;
    background-image: url(practice-leafs-2.png);
    z-index: 3;
    position: absolute;
    bottom: 100px;
    right: -60px;
    opacity: .2;
  }  
  .author {
    display: flex;
    width: 100%;
    max-width: 768px;
  }
  .author:last-child {
    margin-left: auto;
  }
  .author-photo {
    width: 300px;
    height: 420px;
    border-radius: 70px;
    margin-right: 30px;
    flex-shrink: 0;
  }
  .author-info {
    padding-right: 10px;
  }
}

@media screen and (min-width: 1800px) {

  .author {
    max-width: 49%;
  }
  .author:last-child {
    padding-top: 46px;
  }
}










/* ====================================================================================== section 4
 */

.practice-section {
  position: relative;
  width: 100%;
  height: 1080px;
  background-position: center;
  background-size: cover;
  overflow: hidden;
  padding: 100px 0;
  padding-left: 24px;
  padding-right: 24px;
  color: #FFF;
  background-color: #737B97;
}

.practice-content {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  max-width: 384px;
}
@media screen and (min-width: 1200px) {
  .practice-content {top: 40%;}
}

@media screen and (min-width: 1720px) {
  .practice-content {left: 116px;}
}

.practice-section-1::after {
  pointer-events: none;
  content: '';
  display: block;
  width: 312px;
  height: 505px;
  background-position: left;
  background-size: contain;
  background-image: url(practice-leafs-2.png);
  z-index: 3;
  position: absolute;
  bottom: 7%;
  right: -220px;
}

.bumper-down {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 1920px;
  pointer-events: none;
}
.bumper-section {
  clip-path: url(#bumper);
  margin-top: -32px;
}
.bumper-responsive-section {
  clip-path: url(#bumper-responsive);
  margin-top: -32px;
}


.fixed-img-wrap {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  will-change: transform;
  transition: transform linear .05s;
  z-index: 2;
}

.fixed-img {
  display: block;
  width: 100%;
  padding-bottom: 100%;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.practice-section-2::before {
  pointer-events: none;
  content: '';
  display: block;
  width: 312px;
  height: 505px;
  background-position: right;
  background-size: contain;
  background-image: url(practice-leafs-1.png);
  position: absolute;
  top: 60px;
  left: -70px;
  opacity: .2;
}
@media screen and (min-width: 768px) {

  .practice-section-1::before {
    pointer-events: none;
    content: '';
    display: block;
    width: 312px;
    height: 505px;
    background-position: right;
    background-size: contain;
    background-image: url(practice-leafs-1.png);
    position: absolute;
    top: 0;
    left: -70px;
    filter: blur(6px);
  }

  
  .practice-section-1::after {
    right: -150px;
  }

  .fixed-img-wrap {
    left: 50%;
    width: 50%;
  }
  .fixed-img {
    width: 608px;
    height: 608px;
  }
}

@media screen and (min-width: 1800px) {

  .fixed-img {
    width: 780px;
    height: 780px;
  }
}

.learn-more {
  display: inline-flex;
  align-items: center;
  color: #000;
  opacity: 0.45;
  padding-bottom: 8px;
  transition: opacity .3s ease-in;
}
.learn-more:hover {
  opacity: 1;
}
.learn-more:active {
  color: #B4F300;
  opacity: 1;
}


/* ====================================================================================== section 4
 */










.gallery-section {
  overflow: hidden;
}



@media screen and (min-width: 1024px) {
  .gallery-section::before {
    pointer-events: none;
    content: '';
    display: block;
    width: 190px;
    height: 270px;
    background-position: right;
    background-size: contain;
    background-image: url(practice-leafs-1.png);
    position: absolute;
    bottom: 100px;
    left: -70px;
    opacity: 0.2;
  }

}
 


.gallery {
  width: 100%;
}
.gallery-row {
  display: flex;
  width: 2140px;
  margin-bottom: 4px;
  gap: 4px;
}
@media screen and (max-width: 2140px) {
  .gallery-row {
    animation: translatex 60s linear infinite;
  }
  .gallery-row:first-child {
    animation: translatex0 60s linear infinite;
    transform: translateX(calc(100vw - 2140px));
  }
}
@keyframes translatex0 {
  50%{transform: translateX(0);}
}
@keyframes translatex {
  50%{transform: translateX(calc(100vw - 2140px));}
}
.gallery-tile {
  border-radius: 44px;
  height: 333px;
  letter-spacing: .13em;
  font-size: 24px;
  font-weight: 200;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #FFF;
  background-position: center;
  background-size: cover;
  transition: .4s ease-in;
  text-transform: uppercase;
  transform-origin: center;
  user-select: none;
  cursor: default;
}
.gallery-tile:hover {
  transform: scale(1.01);
}









.gallery-pills {
  display: flex;
  width: 100%;
  text-align: center;
  color: #FFF;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 768px) and (max-width: 1023.999px) {
  .gallery-pills {
    max-width: 640px;
  }
}
@media screen and (min-width: 1440px) {
  .gallery-pills {
    max-width: 1070px;
  }
}
@media screen and (min-width: 1600px) {
  .gallery-pills {
    max-width: 1360px;
  }
}


.gallery-pill {
  width: 100%;
  background-position: center;
  background-size: cover;
  display: flex;
}

.gallery-pill__inner {
  width: 100%;
  padding: 16px;
  filter: drop-shadow(0px 6px 4px rgba(0, 0, 0, 0.25));
  background: none;
}

@media screen and (max-width: 1023.999px) {
  .gallery-pills {
    flex-wrap: wrap;
    row-gap: 16px;
  }
  .gallery-pill {
    overflow: hidden;
    height: 288px;
    border-radius: 256px;
    align-items: center;
  }
  .gallery-pill__inner {
    background: rgba(42, 42, 42, 0.73);
  }
}
@media screen and (min-width: 1024px) {
  .gallery-pills {
    border-radius: 256px;
    border-bottom-left-radius: 356px;
    overflow: hidden;
  }
  .gallery-pill {
    height: 592px;
    padding-top: 64px;
    padding-bottom: 64px;
  }
  .gallery-pill:last-child .gallery-pill__inner {
    align-self: end;
  }
  .gallery-pill-title {
    font-weight: 700;
    text-transform: uppercase;
  }
}









@media screen and (max-width: 767.999px) {
  .tickets {
    display: flex;
    flex-direction: column;
    row-gap: 22px;
  }
}

.ticket {
  width: 100%;
  max-width: 328px;
  height: 632px;
  background-color: #fff;
  border-radius: 28px;
  overflow: hidden;
  margin: 0 auto;
  flex-shrink: 0;
  padding: 40px 20px 20px 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #232020;
  background-position: top right;
  background-size: 155px;
  background-repeat: no-repeat;
  box-shadow: 12px 34px 12.2px 0px rgba(12, 14, 33, 0.12);
}
.ticket-mars {
  background-image: url(tt-mars.png);
}
.ticket-venus {
  background-image: url(tt-venus.png);
}


.ticket-title {
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 10px;
  letter-spacing: .08em;
  text-transform: uppercase;
}
.ticket__list {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
  font-size: 16px;
  line-height: 1.25em;
}

.ticket__price--red {
  color: #FC1919;
}
.ticket__price {
  font-size: 29px;
}
.ticket__bracelets {
  color: #DE841B;
  height: 56px;
  display: flex;
  align-items: center;
  padding: 0 14px;
  font-size: 20px;
}
.ticket__bracelets::after {
  content: '';
  display: block;
  margin-left: auto;
  width: 58px;
  height: 56px;
  background-image: url(ticket-braceletes.png);
  background-position: right;
  background-size: contain;
  background-repeat: no-repeat;
}
.ticket-btn {
  font-size: 15px;
  background: #00D192;
  color: #FFF;
}
.ticket-btn:hover {
}
.ticket-btn:active {
  /* color: #FFF; */
  background-color: #232020;
}

@media screen and (min-width: 768px) {
  .tickets-wrapper {
    width: 100%;
    padding: 40px;
    overflow-x: auto;
  }
  .tickets {
    display: flex;
    justify-content: space-between;
    width: 1028px;
    margin: auto;
  }
}












.twins-fire{
  color: white;
  text-align: center;
  height: 85vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(twins-fire.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.twins-fire h1{
  font-size: clamp(2rem,6vw,4rem) !important;
}
.twins-fire span{
  font-family: Pacifico;
  font-size: clamp(0.4rem,6vw,2rem);
  line-height: 110%;
  font-weight: 500;
}



















.address-section {
  background: #00D192;
  color: #FFF;
}
.tg-btn {
  display: block;
  width: 100%;
  color: #000;
  background: #FFF;
  font-size: 16px;
  padding: 12px;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: .08em;
  margin-bottom: 24px;
}

.address-info {
  width: 100%;
}

.address-map {
  overflow: hidden;
  border-radius: 32px;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-image: url(map.jpg);
}

.qr {
  display: none;
}
@media screen and (min-width: 768px) {
  
  .address-info {
    width: 40%;
  }
  .address-map {
    margin-left: 16px;
    width: 60%;
  }
}
@media screen and (min-width: 1024px) {
}
@media screen and (min-width: 1440px) {
  .qr-image {
    width: 100%;
    height: 100%;
    background-image: url(QR-code.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }
  .qr {
    display: block;
    flex-shrink: 0;
    width: 160px;
    height: 160px;
    border: 1px solid #000;
    padding: 12px;
    align-self: flex-end;
    margin-left: 40px;
  }
}
/* @media screen and (min-width: 1600px) {
  .address-map {
    height: 575px;
  }
} */





















.partners {
  background-color: #232020;
  color: #FFF;
}
.partners-link {
  display: inline-block;
  border-bottom: 1px solid currentColor;
  cursor: pointer;
  color: #FFF;
}

.footer {

  background-color: #232020;
  color: #FFF;
}
.footer-links {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 16px;
}
.footer-link {
  font-size: 18px;
  line-height: 22px;
  display: inline-block;
  color: rgba(255, 255, 255, 0.44);
}





































/*======================================================================== SHORT =========*/


.lh {line-height: 1;}
.ls-1 {letter-spacing: -1px;}
.z1 {
  z-index: 1;
}
.italic {font-style: italic;}








.dib {
	display: inline-block;
}
.df {
	display: flex;
}
.flex-col {
    display: flex;
    flex-direction: column;
}
.db {
	display: block;
}
.mla {
	margin-left: auto;
}
.mta {
	margin-top: auto;
}
.mra {
	margin-right: auto;
}
.mxa {
	margin-left: auto;
	margin-right: auto;
}
.ma {
	margin: auto;
}
.aic {
	display: flex;
	align-items: center;
}
.ais {
  align-items: start;
}
.tac {
	text-align: center;
}
.tar {
	text-align: right;
}
.jcc {
	display: flex;
	justify-content: center;
}
.jca {
	display: flex;
	justify-content: space-around;
}
.jcb {
	display: flex;
	justify-content: space-between;
}
.tdn {
	text-decoration: none;
}

.dn {
	display: none;
}
.row {
  display: flex;
  flex-wrap: wrap;
}


.tx-balance {
    text-wrap: balance;
}
.ws {
	white-space: nowrap;
}
.lh {
	line-height: 1;
}








.fw3 {
	font-weight: 300;
}
.fw4 {
	font-weight: 400;
}

.fw5 {
	font-weight: 500;
}

.fw6 {
	font-weight: 600;
}

.fw7 {
	font-weight: 700;
}

.fw8 {
	font-weight: 800;
}
.fw9 {
	font-weight: 800;
}
.uppercase {
	text-transform: uppercase;
}

.relative {
	position: relative;
}

.absolute {
	position: absolute;
}

.hidden-x {
	overflow-x: hidden;
}

.hidden {
	overflow: hidden;
}

.x-auto {
	overflow-x: auto;
}
.bg-cover {
	background-size: cover;
}
.bg-contain {
	background-size: contain;background-repeat: no-repeat;background-position: center;
}

.fs {
	flex-shrink: 0;
}

.bb {
	border-bottom: 1px solid #E0E0E0;
}

.w-full {
	width: 100%;
}
.h-full {
	height: 100%;
}
.o2 {
    opacity: .2;
}
.o4 {
    opacity: .4;
}
.o6 {
    opacity: .8;
}
.o8 {
    opacity: .8;
}











.col6 {
	width: 100%;
	max-width: 25%;
	flex-basis: 25%;
}
.col4 {
	width: 100%;
	max-width: 16.666%;
	flex-basis: 16.666%;
}


.col18 {
	width: 100%;
	max-width: 75%;
	flex-basis: 75%;
}

.col8--md,
.col8--lg,

.col7--lg,
.col4--lg,

.col12--xs,
.col12--sm,
.col12--md,
.col12--lg,

.col10--md,
.col10--lg,


.col14,
.col14--md,
.col14--lg,

.col24,
.col18--lg,
.col18--md,

.col16--xs,
.col16--lg,
.col16--sm,
.col16--md,

.col20--xs,
.col20--sm,
.col20--lg,
.col8--xs,
.col8--sm,
.col8--md,
.col8--lg,
.col8--xl,
.col6--xl,
.col6--lg,
.col6--md {
  width: 100%;
}

.col14 {
  width: 100%;
  max-width: 58.333%;
  flex-basis: 58.333%;  
}
.col8 {
  width: 100%;
  max-width: 33.333%;
  flex-basis: 33.333%;
}
.col12 {
	width: 100%;
	max-width: 50%;
	flex-basis: 50%;
}

.col16 {
	width: 100%;
	max-width: 66.666%;
	flex-basis: 66.666%;
}

@media screen and (min-width: 410px) {
	.col8--xs {
		max-width: 33.333%;
		flex-basis: 33.333%;
	}
  .col12--xs {
    max-width: 50%;
    flex-basis: 50%;
  }
  .col16--xs {
    max-width: 66.666%;
    flex-basis: 66.666%;
  }
  .col20--xs {
    max-width: 83.333%;
    flex-basis: 83.333%;
  }
	.df--xs {
		display: flex;
	}
	.aic--xs {
		align-items: center;
	}
	.ha--xs {
		height: auto;
	}
}

@media screen and (min-width: 560px) {
  .col12--sm {
    max-width: 50%;
    flex-basis: 50%;
  }
  .col16--sm {
    width: 66.666%;
    flex-basis: 66.666%;
  }
  .col20--sm {
    width: 83.333%;
    flex-basis: 83.333%;
  }
  
	.df--sm {
		display: flex;
	}
}

@media screen and (min-width: 768px) {
	.col8--md {
		max-width: 33.333%;
		flex-basis: 33.333%;
	}
	.col10--md {
		max-width: 41.666%;
		flex-basis: 41.666%;
	}
	.col12--md {
		max-width: 50%;
		flex-basis: 50%;
	}
  .col14--md {
    max-width: 58.333%;
    flex-basis: 58.333%;    
  }
	.col16--md {
		max-width: 66.666%;
		flex-basis: 66.666%;
	}
	.col18--md {
	    max-width: 75%;
	    flex-basis: 75%;
	}

	.col6--md {
		max-width: 25%;
		flex-basis: 25%;
	}

	.col24--md {
		max-width: 100%;
		flex-basis: 100%;
	}

	.reverse--md {
		flex-direction: row-reverse;
	}

	.df--md {
		display: flex;
	}
	.aic--md {
		align-items: center;
	}
}

@media screen and (min-width: 1024px) {
	.col10--lg {
		max-width: 41.666%;
		flex-basis: 41.666%;
	}
  
  .col14--lg {
    max-width: 58.333%;
    flex-basis: 58.333%;  
  }
  .col8--lg{
    max-width: 33.333%;
    flex-basis: 33.333%;
  }
  .col7--lg{
    max-width: 29%;
    flex-basis: 29%;
  }
  .col6--lg {
    max-width: 25%;
    flex-basis: 25%;
  }
  .col4--lg {
    max-width: 16.666%;
    flex-basis: 16.666%;
  }
  .col18--lg {
    max-width: 75%;
    flex-basis: 75%;
  }
  .col16--lg {
    max-width: 66.666%;
    flex-basis: 66.666%;
  }
  .col12--lg {
    max-width: 50%;
    flex-basis: 50%;
  }
  .col20--lg {
    max-width: 83.333%;
    flex-basis: 83.333%;
  }

  .dn--lg {
  	display: none;
  }
  .db--lg {
  	display: block;
  }
  .nowrap--lg {
    flex-wrap: nowrap;
  }
	.reverse--lg {
		flex-direction: row-reverse;
	}

	.df--lg {
		display: flex;
	}
  .jcb--lg {
    justify-content: space-between;
  }
    .aic--lg {
        align-items: center;
    }

	.tac--lg {
		text-align: center;
	}
}



@media screen and (min-width: 1440px) {
	.col8--xl {
		width: 33.333%;
    flex-basis: 33.333%;
	}

	.col6--xl {
    max-width: 25%;
    flex-basis: 25%;
  }

  .col24--xl {
    max-width: 100%;
  }

	.df--xl {
		display: flex;
	}
  .aic--xl {
      align-items: center;
  }
  .jcb--xl {
    justify-content: space-between;
  }
}









